
h1{
    text-align: justify;
    text-indent: 30px;
    text-decoration: wavy;
    text-align: center;

}

.block1{
    color: darkblue;
    text-align: center;
    text-decoration: double;
    text-indent: 30px;
    font-size: 20px;
    background-color: lightblue;
    border: 5px solid;

}
.preview2
{
    color: darkslategrey;
    text-align: justify;
    text-decoration: double;
    text-indent: 30px;

}

.block2{
    color:darkblue;
    text-align: justify;
    text-indent: 30px;
    background-color: lightskyblue;
    border: 5px solid;
}

.block3
{
    color: darkblue;
    text-align: justify;
    text-indent: 30px;
    background-color: lightskyblue;
    border: 5px solid;

}

.image {
font-size: 200px;
width: 200px;
height: 150px;
text-align: center;

}

.study {
    font-size: 200px;
    width: 200px;
    height: 300px; ;
    text-align: center;
}
.friends {
    width: 200px;
    height: 300px;
    text-align: center;
}
.Youtube {
    font-size: 200px;
    width: 200px;
    height: 150px;
    text-align: center;
}
.instagram {
 font-size: 200px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.block4{
    border:1px soliid black;
    text-align: center;
    width: 400px;
    height: 300px;
    border: 2px blue;
}
